## 4.6 Combining and Exporting Data (Reading Exercises/Questions 1&2)

This script contains the following points:Â¶
1. Importing Libraries to Computer (Pandas, NumPy, and OS)
2. Importing Orders and Order_Products_Prior Datasets
3. Comparing Outputs of Each Dataframe
4. Merging Datasets (Question 1)
5. Exporting the Merged Dataset as a PKL File (Question 2)

##  01. Importing Libraries to Computer (Pandas, NumPy, and OS)

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Importing Orders and Order_Products_Prior Datasets

In [2]:
# Creating a data importing shortcut called 'path' for the Instacart folder to make importing data easier and cleaner
path =r'/Users/drewsmith/Desktop/01-2023 Instacart Basket Analysis'

In [7]:
# Utilizing the created 'path' shortcut to import the new dataset 
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [10]:
# Utilizing the created 'path' shortcut to import the most up to date orders dataset 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## 03. Comparing Outputs of Each Dataframe

In [12]:
# Shows first five rows in this dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Shows dimensions of this dataframe
df_ords_prior.shape

(32434489, 4)

In [16]:
# Shows first five rows in this dataframe
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [15]:
# ***Removed the 'Unnamed: 0' column since there was an error from exporting the data in the previous exercise. 
df_ords = df_ords.drop(columns=['Unnamed: 0'])

In [17]:
# Shows dimensions of this dataframe
df_ords.shape

(3421083, 7)

## 04. Merging Datasets (Question 1)

In [18]:
# Merges the 'df_ords' and 'df_ords_prior' datasets. It uses the 'order_id' column as its key, an inner join (default), and includes an indicator=true argument to check for a full match
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
# Shows first 5 rows of the new merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [20]:
# Sums up all values in the '_merge' column to see if the data merge is a full match or not
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
# Shows row and column count for the merged dataframe
df_merged_large.shape

(32434489, 11)

## 05. Exporting the Merged Dataset as a PKL File (Question 2)

In [21]:
# Exporting data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))